<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/pages.css">
</head>
<body>
    <%- include('../../partials/header.ejs') %>

    <form action="/practitioners/alta" method="POST">
        <label for="apellido">Apellido del médico:</label>
        <input type="text" id="apellido" name="apellido" required>
        <button type="submit">Guardar</button>
    </form>

    <%- include('../../partials/footer.ejs') %>
</body>
</html>
