<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Medico</title>
    <link rel="stylesheet" href="/css/pages.css">
</head>
<body>
    <%- include('../../partials/header.ejs') %>
    
    <form action="/practitioners/edita/<%= medico.id %>" method="POST">
        <label for="apellido">Apellido del médico:</label>
        <input type="text" id="apellido" name="apellido" value="<%= medico.apellido %>" required>
        <button type="submit">Actualizar</button>
    </form>
    
    <%- include('../../partials/footer.ejs') %>
</body>
</html>
